{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% bootstrap_css %}
    {% block css %}{% endblock css %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-white bg-white py-0 sticky-top opacity-75">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'root' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/3223/3223092.png" alt="" width="30px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  justify-content-between " id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'users:index' %}">회원 목록</a>
                    </div>
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="">리뷰 목록</a>
                    </div>
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="">영화 목록</a>
                    </div>
                </div>
                <div class="navbar-nav">
                    {% if request.user.is_authenticated %}
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'users:detail' request.user.pk %}">
                            {{ request.user }}</a>
                    </div>
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'users:logout' %}">
                            로그아웃</a>
                    </div>
                    {% else %}
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'users:signup' %}">회원 가입</a>
                    </div>
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'users:login' %}">로그인</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock body %}
    </div>
    {% bootstrap_javascript %}
</body>

</html>