{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FBI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% bootstrap_css %}
    {% block css %}{% endblock css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block script %}{% endblock script %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-white bg-white py-0 sticky-top opacity-75">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'root' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/2035/2035012.png" alt="" width="30px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  justify-content-between " id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'users:index' %}">요원 목록</a>
                    </div>
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="">수사 목록</a>
                    </div>
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'Restaurant:index' %}">수배 리스트</a>
                    </div>
                    <div class="search-box">
                        <form action="{% url 'Restaurant:search' %}" method="post">
                            {% csrf_token %}
                            <input class="search-txt" type="text" placeholder=" 맛집 단속" size="20" name="q" value="{{q}}">
                            <button class="search-btn" type="submit" maxlength="50">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="navbar-nav">
                    {% if request.user.is_authenticated %}
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'users:detail' request.user.pk %}">
                            {{ request.user }}</a>
                    </div>
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'users:logout' %}">
                            로그아웃</a>
                    </div>
                    {% else %}
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'users:signup' %}">회원 가입</a>
                    </div>
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'users:login' %}">로그인</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </nav>


    <div class="content">
        {% block body %}{% endblock body %}
    </div>
    {% bootstrap_javascript %}
    <footer class="fixed-bottom text-center bg-white">© 2022 Food Box Information, PJT by 9조.</footer>

</body>

</html>