.nav-logo-size {
    width: 5rem;
}

.footer-size {
    height: 5rem;
}

h2 {
    line-height: 3;
}

.search-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    padding: 0px;
    border-radius: 40px;
    background: #e5e7e9;
    box-shadow: 1px 1px 0 1px skyblue;
}

.search-btn {
    color: #3c2dd8;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e5e7e9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.search-txt {
    padding: 0;
    padding-inline-start: 20px;
    background: none;
    border: none;
    outline: none;
    color: rgb(21, 5, 147);
    font-size: 20px;
    line-height: 10px;
}

.rsttop-header__download {
    color: #595960;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    overflow-wrap: break-word;
    position: absolute;
    bottom: 20px;
    left: 800px;
}

.rsttop-header__download-list {
    color: #595960;
    overflow-wrap: break-word;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    display: flex;
    width: 317px;
    justify-content: space-around;
}

.rsttop-header__download-target js-analytics {
    overflow-wrap: break-word;
    list-style: inherit;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    background: transparent;
    color: #06c;
    text-decoration: none;
    display: block;
}