{% extends 'base.html' %}

{% load static %}

{% block script %}
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ureszraal9"></script>
{% endblock script %}
{% block body %}
<!-- 가게 정보 -->
<div class="d-flex justify-content-between">
    <div class="text-black ms-5">
        <h2>{{info.title}}</h2>
         <!--위시리스트-->
        {% if request.user.is_authenticated %}
            {% if request.user in info.wishlist.all %}
                <i id="wish-btn" data-info-id="{{ info.pk }}" class="bi bi-bookmark-star-fill"></i>
            {% else %}
                <i id="wish-btn" data-info-id="{{ info.pk }}" class="bi bi-bookmark-star"></i>
            {% endif %}
        {% endif %}
        <span id="wish-count">{{ info.wishlist.count }}</span>
        <p class="mt-5"><b>주소</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info.addr}}</p>
        <p class="mt-5"><b>종류</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info.category}}</p>
        <p class="mt-5"><b>설명</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            {{info.description |linebreaksbr}}</p>
        <p class="mt-5"><b>전화</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info.tel}}</p>
        <p class="mt-5"><b>사진</b>
        <br>
        {% if info.imgurl %}
        <img src="{{ info.imgurl}}" alt="{{info.imgurl}}"  style="height: 200px;">
        {% else %}
        <img src="https://dummyimage.com/1200x960/000000/c4c4c4" alt="image" style="height: 200px;">
        {% endif %}
        {% if info.image %}
            <img src="{{info.image.url}}" alt="{{info.image}}">
        {% endif %}
        </p>
    </div>
    <!--지도-->
    <div class="d-flex justify-content-end mt-4">    
        <div id="map" style="width:400px;height:400px;"></div>
    </div> 
   
</div>
<!-- 리뷰 게시글 -->
<div class="text-end my-3">
    <a href="{% url 'reviews:review_create' info.pk %}" class="btn btn-primary">리뷰 작성</a>
</div>
<!--슈퍼 유저인지 확인-->
{% if request.user.is_superuser %}
<!--가게 정보 수정 및 삭제-->
<div class="text-end my-3">
    <a href="" class="btn btn-primary">가게 정보 수정(지오태그 미구현)</a>
</div>
<div class="text-end my-3">
    <a href="{% url 'Restaurant:delete' info.pk %}" class="btn btn-primary">가게 삭제</a>
</div>
{% else %}

{% endif %}


<table class="table table-hover text-center">
    <thead class="table-dark">
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성 시간</th>
            <th scope="col">마지막 수정 시간</th>
            <th scope="col">작성자</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-dark">
        {% for review in reviews %}
        <tr onclick="location.href='/reviews/{{review.pk}}/'" style="vertical-align: middle;">
            <th scope="row">{{ forloop.counter }}</th>
            <td> {{ review.title }}</td>
            <td>{{ review.created_at|date:'Y-m-d H:i' }}</td>
            <td>{{ review.updated_at|date:'Y-m-d H:i' }}</td>
            <td>{{ review.writer }}</td>
            <td>
                {% if request.user.is_authenticated %}
                <a class="btn btn-success btn-sm" href="{% url 'reviews:update' review.pk %}">수정</a>
                <form class='m-0' action="" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                </form>
                {% else %}

                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    var st = JSON.parse("{{ storeJson|escapejs }}");
    var mapOptions = {
        center: new naver.maps.LatLng(st['lat'], st['lon']),
        zoom: 16
    };
    
    var map = new naver.maps.Map('map', mapOptions);
 
    var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(st['lat'], st['lon']),
    map: map
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // (1) 위시리스트 버튼
  const likeBtn = document.querySelector('#wish-btn')
  // (2) 위시리스트 버튼을 클릭하면, 함수 실행
  likeBtn.addEventListener('click', function (event) {
    // 서버로 비동기 요청을 하고 싶음
    console.log(event.target.dataset)
    axios({
      method: 'get',
      url: `/Restaurant/${event.target.dataset.infoId}/wishlist/`
    })
    .then(response => {
      console.log(response)
      console.log(response.data)
      // event.target.classList.toggle('bi-heart')
      // event.target.classList.toggle('bi-heart-fill')
      if (response.data.isLiked === true) {
        event.target.classList.add('bi-bookmark-star-fill')
        event.target.classList.remove('bi-bookmark-star')
      } else {
        event.target.classList.add('bi-bookmark-star')
        event.target.classList.remove('bi-bookmark-star-fill')
      }
      const likeCount = document.querySelector('#wish-count')
      likeCount.innerText = response.data.likeCount
    })
  })
</script>
{% endblock %}