{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block body %}
{% if request.user.is_superuser %}
<a class="btn btn-primary my-3 float-right" href="{% url 'Restaurant:create' %}">가게 작성하기</a>
{% else %}
{% endif %}
<div class="container d-flex row">
    <div id="wrap" style="margin-top:20px; margin-bottom: 15px;">
        <div class="1-wrap">
            <div class="content-header-cell">
                <h1 class="h h--en" style="display: flex; justify-content: center;">맛집<img
                        src="https://st3.depositphotos.com/5266903/17042/v/450/depositphotos_170425514-stock-illustration-mafia-boss-flat-icon.jpg"
                        style="width:4%;">수배
                </h1>
            </div>
        </div>
    </div>
    <hr class="one">
    {% for content in contents %}

    <div class="card col-2 m-5 p-0" style="width: 20rem;" onclick="location.href='/Restaurant/{{ content.id }}/'">

        <div class="imgBoxDiv">
            <a class="text-decoration-none">
                <div class="imgDiv">
                    {% if content.imgurl %}

                    <img src="{{ content.imgurl}}" alt="{{content.imgurl}}" class="card-img-top" style="height: 100%;">
                    {% else %}
                    <img src="https://dummyimage.com/1200x960/000000/c4c4c4" alt="image" class="card-img-top"
                        style="height: 100%;">


                    {% endif %}
                </div>
                <div class="imgDesDiv"
                    style="width:100%; height:50px; padding: 10px; position: absolute; bottom: 20px; display: flex;">
                    <div class="card-body">
                        <p class="card-text text-center fw-bold" style="font-size: large;"><img
                                src="https://th.bing.com/th/id/OIP.6A3NtgNvYpYzFrb6Hz4GXAHaHa?pid=ImgDet&rs=1"
                                art="icon" style="width:12%;">&nbsp;{{ content.title }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}