{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block body %}
{% if request.user.is_authenticated %}
<a class="btn btn-primary my-3 float-right" href="{% url 'Restaurant:create' %}">가게 작성하기</a>
{% endif %}
<div class="container d-flex row">
    {% for content in contents %}
    <div class="card col-2 m-5 p-0" style="width: 20rem;" onclick="location.href='/Restaurant/{{ content.id }}/'">
        <div class="imgBoxDiv">
            <a class="text-decoration-none">
                <div class="imgDiv">
                    {% if content.imgurl %}
                    <img src="{{ content.imgurl}}" alt="{{content.imgurl}}" class="card-img-top" style="height: 100%;">
                    {% else %}
                    <img src="https://dummyimage.com/1200x960/000000/c4c4c4" alt="image" class="card-img-top"
                        style="height: 100%;">
                    {% endif %}
                </div>
                <div class="imgDesDiv"
                    style="width:100%; height:50px; padding: 10px; position: absolute; bottom: 20px; display: flex;">
                    <div class="card-body">
                        <p class="card-text text-center fw-bold">{{ content.title }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
