{% extends 'base.html' %}

{% block body %}

    {% if not result %}

        <h1>검색 결과가 없습니다</h1>

    {% else %}

        {% for r in result.all %}
        <div class="container"> 
            <div class="card">
                <div class="card-body">
                    <h3>{{ r.title }}</h3>
                    <p>{{ r.category }}&nbsp;&nbsp;<a href="{% url 'Restaurant:detail' r.id %}"> 자세히 보기</a></p> 
                </div>
            </div>
        </div>
        <br>
        {% endfor %}

    {% endif %}

{% endblock %}