<div class="container">
    <div style="margin-top: 5rem !important;">
        <div class="col-12">
            <div class="row justify-content-center text-center">
                <div class="card col-6">
                
                    <div class="card-header" style="padding-bottom:8px;">
                        <strong style="font-size: 18px;"><i class="fas fa-user-edit"></i>&nbsp;&nbsp;내 정보수정</strong>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST" class="my-3">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                           
                            {% bootstrap_button button_type="submit" button_class="btn-primary" content="변경완료" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>